*.class
/Projects/Animasi/nbproject/private/
/Projects/Objek/nbproject/private/
/Projects/Objek/build/
/Projects/Grafis/nbproject/private/
/Projects/Grafis/build/
/Projects/Threading/nbproject/private/