*.class
/Projects/Animasi/nbproject/private/
/Projects/Objek/nbproject/private/
/Projects/Objek/build/
/Projects/Grafis/nbproject/private/
/Projects/Grafis/build/
/Projects/Threading/nbproject/private/
/Projects/Threading/build/
/Projects/PingPong/nbproject/private/
/Projects/PingPong/build/
/Projects/PingPong/dist/
/Projects/Arrayku/nbproject/private/
/Projects/Arrayku/build/